body {
    text-align: center;
    font-family: 'Fresca', sans-serif;
    justify-content: center;
    display: flex;
    background-color: skyblue;
    border-radius: 10px;
    border: 1px;
}

.container {
    padding: 2%;
    min-height: 90vh;
    height: auto;
    display: flex;
    justify-content: center;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    background-image: url("../assets/wall.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    border: 10px outset grey;
    border-radius: 27px;
    
}



h1 {
    color: rgb(39, 39, 39);
    text-transform: uppercase;
    font-family: 'Fresca', sans-serif;
    margin: 0%;
    font-weight: 550;
    font-size: 3rem;
    overflow-wrap: break-word;
}

.instructions{
    border: 5px groove white;

}

p {
    font-weight: 600;
}


.innercontainer {
    border-radius: 25px;
    height: auto;
    width: auto;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;


}


#firstinstruct {
    color: rgba(23, 2, 80, 0.808);
    font-size: 1.2rem;
    font-family: 'Fresca', sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 4px;

}

#userInput {
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    position: sticky;
}

#enter {
    border: none;
    padding: 5px, 15px;
    border-radius: 5px;
    color: white;
    background-color: #F4D03F;
    font-size: 1.5rem;

}

#enter:hover {
    background-color: rgb(121, 194, 160);
    
}

ul{
    text-align:left;
    margin-top: 20px;
    max-width: 90vw;
    overflow-wrap: break-word;
}

li {
    list-style: disc;
    padding: 2px 20px;
    text-transform: capitalize;
  font-family: 'Fresca', sans-serif;
    font-weight: 500;
    margin-bottom:  10px;
       transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.322);
}

li:hover {
    background: rgba(74, 82, 76, 0.233);
   
}

li > button {
    background: none;
    border-radius: 15px;
    border: 1px solid red;
    float: right;
    color: rgb(189, 3, 3);
    background-color: none;
    font-weight: 700;
    font-size: 1rem;
   

}

input {
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    font-size: 3rem;
    
}

.done {
    text-decoration: line-through;
    font-weight: 500;
    color: rgba(29, 27, 34, 0.993);
    font-family: 'Fresca', sans-serif;
    background-color: rgba(39, 39, 39, 0);
    list-style: none;

}


.delete {
    display: none;
    padding: 5px;
    margin: 0;
}

@media screen and (max-width: 600px) {
* {
    width: 100%;
    height: auto;
    
}

body {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    
}

h1 {
    font-size:2rem;
    padding-top: 15px;

}
.container {
    width: 100vw;
    background: url("../assets/wall.jpg");
    background-size: cover;
    padding: 0px;
    overflow-x: hidden;
    
}
.innercontainer {
    width: 90vw;
    overflow-wrap: break-word;

}

button {
    width: 30px;
}

.delete {
    width: 24px;
}

li {
    width:85%;
    padding: 2px;
    margin: 2px;
}


#firstinstruct {
    font-size: 0.7rem;
    height: 3vh;
    width: 100%;
    overflow: scroll;
}